repos:
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
      - id: flake8

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0"
    hooks:
      - id: prettier
        exclude: \.html$

  - repo: local
    hooks:
      - id: no_commit
        name: Check for NO_COMMIT marker
        entry: bash -c "git diff --cached -U0 | (! grep NO_COMMIT)"
        language: system
        require_serial: true
        pass_filenames: false

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy --no-error-summary
        language: system
        files: ^elementary/.*\.py$
