pytest
pytest-parametrization>=2022.2.1
pre-commit
mypy

# MyPy stubs
types-pkg-resources
types-requests
networkx-stubs
types-python-dateutil
boto3-stubs
google-auth-stubs
ratelimit-stubs
types-google-cloud-ndb
types-protobuf
types-pytz
types-jsonschema
types-PyYAML
types-setuptools
pandas-stubs
types-retry
