click~=8.1.3
pyfiglet~=0.8.post1
snowflake-connector-python
dbt-core
dbt-postgres
dbt-redshift
dbt-snowflake
dbt-bigquery
networkx~=2.8.3
sqllineage==1.2.4
pyvis~=0.2.1
sqlparse~=0.4.2
alive-progress
python-dateutil~=2.8.2
google-cloud-bigquery
google-api-core
requests~=2.28.1
beautifulsoup4~=4.11.1
posthog~=1.4.9
sqlfluff~=1.1.0
ruamel.yaml
slack-sdk
pydantic~=1.9.1

packaging~=21.3
pytest~=7.1.2
setuptools~=60.2.0