name: Format Python code
on:
  push:
    branches-ignore:
      - 'master'
    paths:
      - '**.py'
  workflow_dispatch:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Elementary
        uses: actions/checkout@v3

      - name: Format
        uses: psf/black@stable
        with:
          options: ""

      - name: Commit changes
        uses: EndBug/add-and-commit@v9.1.0
        with:
          message: "Formatted the codebase."
