name: Test all warehouse platforms
on:
  pull_request_target:
    branches: ["master"]
    paths:
      - elementary/**
      - .github/**
      - pyproject.toml
  workflow_dispatch:
    inputs:
      elementary-ref:
        type: string
        required: false
        description: Branch or tag to checkout for 'elementary' repository
      dbt-data-reliability-ref:
        type: string
        required: false
        description: Branch or tag to checkout for 'dbt-data-reliability' repository
      dbt-version:
        type: string
        required: false
        description: dbt's version to test with
      generate-data:
        type: boolean
        required: false
        default: false
        description: Whether to generate new data

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        dbt-version: ${{ inputs.dbt-version && fromJSON(format('["{0}"]', inputs.dbt-version)) || fromJSON('[null]') }}
        warehouse-type:
          [
            postgres,
            snowflake,
            bigquery,
            redshift,
            databricks_catalog,
            athena,
            clickhouse,
          ]
    uses: ./.github/workflows/test-warehouse.yml
    with:
      warehouse-type: ${{ matrix.warehouse-type }}
      elementary-ref: ${{ inputs.elementary-ref || (github.event_name == 'pull_request_target' && github.event.pull_request.head.sha) || '' }}
      dbt-data-reliability-ref: ${{ inputs.dbt-data-reliability-ref }}
      dbt-version: ${{ matrix.dbt-version }}
      generate-data: ${{ inputs.generate-data || false }}
    secrets: inherit

  notify_failures:
    name: Notify Slack
    secrets: inherit
    needs: [test]
    if: |
      always() &&
      ! cancelled() &&
      ! contains(needs.test.result, 'success') &&
      ! contains(needs.test.result, 'cancelled') &&
      github.event_name != 'pull_request_target'
    uses: ./.github/workflows/notify_slack.yml
    with:
      result: "failure"
      run_id: ${{ github.run_id }}
      workflow_name: "Test all warehouse platforms"
